.title-flex {
  display: flex;
  margin-top: 20px;
}

.trashcan {
  margin: 20px;
  margin-top: 25px;
}

.main-flex {
  display: flex;
  margin-bottom: 145px;
}

.title-image {
  height: 100px;
  width: 100px;
  background-size: cover;
  background-position: center;
}

.description {

}
.description-booking {
  padding-left: 20px;
}

ul {
  list-style-type: circle;
}
