.title-flex {
  display: flex;
  margin-top: 20px;
}

.trashcan {
  margin: 20px;
  margin-top: 25px;
}

.main-flex {
  display: flex;
  margin-bottom: 145px;
}

.title-image {
  height: 580px;
  width: 1000px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px
}

.description-booking {
  padding-left: 20px;
}

ul {
  list-style-type: circle;
}
