// Specific CSS for your home-page
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #BCC1BA;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}


#map {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 10px;
}

h1, h2, h3, ul, p, body {
  color: white;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.footer {
  flex: 1;
}

.navbar {
  position: sticky;
}
