// Specific CSS for your home-page
body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}


#map {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 10px;
}

 h1, h2, h3, ul, p, body {
  color: black;
 }
