<h1>New Booking</h1>
<div class="container">
  <%= simple_form_for [@location, @booking] do |f| %>
    <%= f.input :dates %>
    <%= f.input :cost %>
    <%= f.submit 'Request Booking', class: "btn btn-primary" %>
  <% end %>
</div>
