<div container="header">
  <div container="navbar" row justify-content-center>
  <button class="btn mb-3">Home</button>
  <button class="btn mb-3">Locations</button>
  <button class="btn mb-3">Home</button>
  <button class="btn mb-3">Home</button>
  </div>
</div>
# begin
sasd
# end
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
