<div container="header">
  <link rel="stylesheet" href="css/style.css">
  <div class="navbar">
  <button class="btn mb-3">Home</button>
  <button class="btn mb-3">Locations</button>
  </div>
</div>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="footer" row justify-content-center>
  <p>Location Finder co.<p>
</div>
