.navbar {
  background-color: #84C0C6;
  display: flex;
  justify-content: center space-between;
}

.nav-link {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.footer {
  display: flex;
  background-color: #BCC1BA;
  padding: 5px;
  margin: auto;
}
