.navbar {
  background-color: #84C0C6;
  display: flex-end;
}

.title {
  text-align: center;
  font-size: 16px;
}

.nav-link {
  border-radius: 5px;
  padding: 5px 5px 5px 5px !important;
}

.footer {
  text-align: center;
  background-color: #BCC1BA;
  padding: 5px;
  margin: auto;
}
