<h1>All locations</h1>
<ul>
  <% @locations.each do |location| %>
    <li><%= link_to location.name, location_path(location) %></li>
    <li><img id="Main Image" src="<%= asset_path(location.image_url) %>"></li>
  <% end %>
</ul>
